<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Doctor</title>
        <link rel='stylesheet' href="{{ asset('bundles/high5hospitaldoctor/css/jquery-ui.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/high5hospitaldoctor/css/style.css') }}" />
        <script src="{{ asset('bundles/high5hospitaldoctor/javascript/jquery-1.11.2.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->
        <script src="{{ asset('bundles/high5hospitaldoctor/javascript/jquery_and_jqueryui.js') }}"></script>
    </body>
</html>