{% extends 'High5HospitalDoctorBundle:Default:base.html.twig' %}
{% block body %}
    <div id="content">

        <div class="inner" style="min-height:1200px;">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Login</h2>
                </div>
            </div>
            <hr /> 

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% block content %}
                        {{ form_start(login_form) }}
                        {{ form_widget(login_form) }}
                        {{ form_end(login_form) }}
                    {% endblock %}
                    <div class="login-help"></div>
                </div>
            </div>
            <hr /> 

        </div>
    </div>

{% endblock %}

