{% extends 'High5HospitalAdminHospitalBundle:Default:base.html.twig' %}

{% block body %}
    Welcome {{ username }}!

    <div>
        <a href="{{ path('_welcome') }}admin_hospital/add/patient">Add Patient</a>
    </div>
    <div>
        <a href="{{ path('_welcome') }}admin_hospital/add/doctor">Add Doctor</a>
    </div>
    <div>
        <a href="{{ path('_welcome') }}admin_hospital/logout">Logout</a>
    </div>
{% endblock %}